body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container {
  width: 400px;
}

.search-container input {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  border: none;
  background-color: gainsboro;
  color: black;
  outline: none;
  padding: 12px;
  font-weight: 500;
  font-size: 15px;
}
.cocktail-data {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.cocktail-data li {
  margin: 10px;
}

.cocktail-data img {
  width: 250px;
  height: 200px;
  border-radius: 14px;
}
.cocktail-data p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 577px) {
  .cocktail-data {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 769px) {
  .cocktail-data {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}
